.page {
  min-width: 320px;
  height: 100%;
  font-family: $font-body;
  color: $color-primary;
}

.page__header {
  background-color: $darkblue;
  color: $white;
  position: relative;
  z-index: 1;
}

.page-header__logo {
  display: flex;
  flex-direction:column;
  align-items: top;
  margin-left: 20px;
  margin-top: 10px;
}

.site-list__item {
size: 18px;

}


.page-main__intro {
  width: 100%;
  background-color: $white;
  color: $white;

}


.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/back-mobile.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.intro__slogan {
  color: $white;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 80px;

}

.toggle {
  width: 100%;
  // 12px - компенсация верхних паддингов в ссылках нижнего списка маркетов
  margin-bottom: calc(32px - 12px);

  @media (min-width: $width-tablet) {
    margin-bottom: calc(46px - 12px);
  }

  @media (min-width: $width-desktop) {
    margin-bottom: calc(67px - 12px);
  }
}


.toggle-button {
 // display: flex;
 // align-items: center;
 // justify-content: center;
  display: block;
  padding: 18px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border-radius: 30px;
  outline-width: 3px;
  outline-style: solid;
  outline-offset: -3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    cursor: pointer;
  }
  &:disabled {
    color: rgba($color-primary, 0.1);
    cursor: inherit;
  }

  &--hero {
    color: $color-white;
    outline-color: $color-white;

    @media (min-width: $width-desktop) {
      font-size: 21px;
    }

    &:hover {
      color: $color-secondary;
      background-color: $color-white;
    }

    &:active {
      color: rgba($color-secondary, $opacity);
    }
  }
}

.intro__wrapper--logo {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $darkblue;
  padding-top: 20px;
}


.intro__logo--list {
margin: 0;

display: flex;

flex-wrap: wrap;

justify-content: space-between;
list-style: none;

}


.intro__logo--icon {
  padding-top: 10px;
  padding-bottom: 10px;

  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
